<!-- aqui ficam os valores das metricas do professor (# relatorios, # creditos, etc) -->
  <div class="rounded-lg bg-white p-4 shadow-sm flex items-center justify-between border border-gray-200">
    <div>
      <p class="text-sm text-gray-600 font-semibold">Total de Orientandos</p>
      <p class="text-2xl font-bold text-blue-600"><%= @students.count %></p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" class="h-12 w-12 shrink-0 text-blue-600" fill="currentColor">
        <path d="M 28.0000 27.1257 C 31.1936 27.1257 33.9415 24.2737 33.9415 20.5602 C 33.9415 16.8912 31.1787 14.1729 28.0000 14.1729 C 24.8213 14.1729 22.0584 16.9506 22.0584 20.5898 C 22.0584 24.2737 24.8064 27.1257 28.0000 27.1257 Z M 10.9029 27.4673 C 13.6658 27.4673 16.0722 24.9718 16.0722 21.7485 C 16.0722 18.5548 13.6509 16.1930 10.9029 16.1930 C 8.1401 16.1930 5.7040 18.6143 5.7188 21.7782 C 5.7188 24.9718 8.1252 27.4673 10.9029 27.4673 Z M 45.0970 27.4673 C 47.8748 27.4673 50.2811 24.9718 50.2811 21.7782 C 50.2811 18.6143 47.8599 16.1930 45.0970 16.1930 C 42.3491 16.1930 39.9278 18.5548 39.9278 21.7485 C 39.9278 24.9718 42.3342 27.4673 45.0970 27.4673 Z M 2.6143 40.8806 L 13.9035 40.8806 C 12.3586 38.6376 14.2451 34.1220 17.4387 31.6562 C 15.7899 30.5570 13.6658 29.7400 10.8881 29.7400 C 4.1889 29.7400 0 34.6864 0 38.8010 C 0 40.1379 .7427 40.8806 2.6143 40.8806 Z M 53.3856 40.8806 C 55.2723 40.8806 56 40.1379 56 38.8010 C 56 34.6864 51.8113 29.7400 45.1119 29.7400 C 42.3342 29.7400 40.2102 30.5570 38.5613 31.6562 C 41.7549 34.1220 43.6414 38.6376 42.0966 40.8806 Z M 18.6568 40.8806 L 37.3283 40.8806 C 39.6604 40.8806 40.4925 40.2122 40.4925 38.9050 C 40.4925 35.0726 35.6944 29.7845 27.9851 29.7845 C 20.2907 29.7845 15.4928 35.0726 15.4928 38.9050 C 15.4928 40.2122 16.3247 40.8806 18.6568 40.8806 Z"></path>
    </svg>
  </div>

  <div class="rounded-lg bg-white p-4 shadow-sm flex items-center justify-between border border-gray-200">
    <div>
      <p class="text-sm text-gray-600 font-semibold">Relatórios Pendentes</p>
      <p class="text-2xl font-bold text-orange-600"><%= @reports_due.count %> </p>
    </div>
    <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-orange-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
      <path d="M4 21.4V2.6C4 2.26863 4.26863 2 4.6 2H16.2515C16.4106 2 16.5632 2.06321 16.6757 2.17574L19.8243 5.32426C19.9368 5.43679 20 5.5894 20 5.74853V21.4C20 21.7314 19.7314 22 19.4 22H4.6C4.26863 22 4 21.7314 4 21.4Z" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M16 5.4V2.35355C16 2.15829 16.1583 2 16.3536 2C16.4473 2 16.5372 2.03725 16.6036 2.10355L19.8964 5.39645C19.9628 5.46275 20 5.55268 20 5.64645C20 5.84171 19.8417 6 19.6464 6H16.6C16.2686 6 16 5.73137 16 5.4Z" fill="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M8 10L16 10" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M8 18L16 18" stroke-linecap="round" stroke-linejoin="round"></path> 
      <path d="M8 14L12 14" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>

  <div class="rounded-lg bg-white p-4 shadow-sm flex items-center justify-between border border-gray-200">
    <div>
      <p class="text-sm text-gray-600 font-semibold">Próximo Prazo</p>
      <p class="text-2xl font-bold text-red-700"><%= @next_due_date&.strftime("%d/%b/%Y") || '-'%></p>
    </div>
    <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
      <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
      <line x1="16" y1="2" x2="16" y2="6"/>
      <line x1="8" y1="2" x2="8" y2="6"/>
      <line x1="3" y1="10" x2="21" y2="10"/></svg>
  </div>

  <div class="rounded-lg bg-white p-4 shadow-sm flex items-center justify-between border border-gray-200">
    <div>
      <p class="text-sm text-gray-600 font-semibold">Publicações</p>
      <p> <%= link_to "Adicionar nova", new_publication_path, class: "bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded font-semibold" %> </p>
      <p> <%= link_to "Ver lista", publications_path, class: "bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded font-semibold" %> </p>
    </div>
    <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-400" fill="none" viewBox="0 0 24 24" stroke="purple" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
      <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
      <line x1="16" y1="2" x2="16" y2="6"/>
      <line x1="8" y1="2" x2="8" y2="6"/>
      <line x1="3" y1="10" x2="21" y2="10"/></svg>
  </div>
