<div class="mb-4 last:mb-0 border border-gray-200 rounded p-3 hover:bg-gray-100">
  <%= link_to student_info_professor_path(student), data: { turbo_frame: "student-info-panel" }, class: "block" do %>
    <div class="flex justify-between items-center mb-1">
      <p class="font-semibold text-gray-800"><%= student.user.name %> <%= student.user.surname %></p>
      <span class="inline-block bg-green-100 text-green-700 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">
        <p> Ativo <%#= student.active %> </p>
      </span>
    </div>
    <p class="text-sm text-gray-600 mb-1"><%= student.program_level %> &bull; Sem. <%= student.semester %></p>
    <p class="font-semibold text-xs text-gray-700 mb-1">Progresso</p>
    <div class="w-full bg-gray-200 rounded h-2.5">
      <div style="width:<%= student.calculate_progress %>%" class="h-2.5 rounded blue"></div>
    </div>
    <p class="text-right text-xs text-gray-500 mt-0.5"><%= student.calculate_progress %>%</p>
  <% end %>
</div>