<div class="p-4 border rounded-md bg-white shadow-sm space-y-1">

  <p><strong>Aluno:</strong>
    <%= report.student&.user&.full_name || "—" %>
  </p>

  <p><strong>Data de Envio:</strong>
    <%= l(report.date_sent, format: :long, default: "—") %>
  </p>

  <p><strong>Orientador:</strong>
    <%= Professor.find_by(id: report.reviewer_id)&.user&.full_name || "—" %>
  </p>

  <p><strong>Status:</strong>
    <%= report.status || "—" %>
  </p>

  <p><strong>Avaliação do Orientador:</strong>
    <%= report.review_professor || "—" %>
  </p>

  <p><strong>Data da Avaliação:</strong>
    <%= l(report.review_date, format: :long, default: "—") %>
  </p>

  <p><strong>Avaliação da Coordenação:</strong>
    <%= report.review_administrator || "—" %>
  </p>

  <div class="flex gap-3 mt-2">

    <!-- Visualizar respostas -->
    <%= link_to "Visualizar", report_info_path(report),  data: { turbo: false},
        class: "px-3 py-1 bg-purple-600 text-white rounded hover:bg-purple-700" %>

    <!-- Baixar PDF -->
    <%= link_to "Baixar PDF",
        export_pdf_path(report_id: report.id, format: :pdf),
        class: "px-3 py-1 bg-orange-500 text-white rounded hover:bg-orange-600" %>

    <% if report.status == 'Reviewed' %>
      <%= link_to "Avaliar", administrator_submit_review_report_info_path(report), data: { turbo: false }, 
            class: "px-4 py-2 bg-teal-600 hover:bg-teal-700 text-white rounded transition duration-300" %>
    <% end %>
  </div>

</div>
