<div class="outline">
    <%= link_to "Visualizar", report, class: "text-blue-500" %>
    <p> Período: <%= report.semester %>o Sem. <%= report.year %> </p>
    <p> Prazos de entrega: </p>
        <p> Estudante: <%= report.due_date_student %> </p>
        <p> Docente: <%= report.due_date_professor %> </p>
        <p> Coordenação: <%= report.due_date_administrator %> </p>     
</div>