<div class="outline">
    <%= link_to "Visualizar", report, class: "text-blue-500" %>
    <p> Período: <%= report.semester %>o Sem. <%= report.year %> </p>
    <p> Prazos de entrega: </p>
        <p> Estudante: <%= report.due_date_student&.strftime("%d de %B, %Y")  %> </p>
        <p> Docente: <%= report.due_date_professor&.strftime("%d de %B, %Y")  %> </p>
        <p> Coordenação: <%= report.due_date_administrator&.strftime("%d de %B, %Y")  %> </p>    
    <%= button_to "Deletar relatório", report, method: :delete, class:"text-red-500", data: { confirm: "Are you sure?" } %> 
</div>