<div>
    <p> Aluno: <%= report.student.user.name %> <%= report.student.user.surname %> </p>
    <p> Data de Envio: <%= report.date_sent&.strftime("%d de %B, %Y")  %> </p>
    <p> Orientador: <%= Professor.find_by(id: report.reviewer_id).user.name %> <%= Professor.find_by(id: report.reviewer_id).user.surname %> </p>
    <p> Status: <%= report.status %> </p>
    <p> Responsável atual: <%= report.owner %> </p>
    <p> Avaliação do Orientador: <%= report.review_professor %> </p>
    <p> |->Data da Avaliação: <%= report.review_date&.strftime("%d de %B, %Y")  %> </p>
    <p> Avaliação da Coordenação: <%= report.review_administrator %> </p>
    <p> <%= link_to "Visualizar", report_answers_path(report_info: report), class: "border text-white bg-purple-500 px-3" %> </p>   
    <%# aí aqui vai linkar pra um parcial do Report e vai ter todas as info de respostas, etc %>
    <p> <%= link_to "Baixar em PDF", export_pdf_path(format: :pdf), class: "border text-white bg-orange-500 px-3" %> </p>

    <% if report.status == "Administrator "%>
        <p> <%= link_to "Avaliar", "" %> </p>
    <% end %>
</div>