<% if notice %>
  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-2 rounded mb-4">
    <%= notice %>
  </div>
<% end %>

<div class="min-h-screen bg-gradient-to-b from-white to-orange-50 px-4 py-8">
  <header class="flex items-center justify-between mb-6">
    <%= render "header", student: @student %>
  </header>

  <div class="mt-4">
    <%= render "/students/navigation", student: @student %>
  </div>

  <main class="max-w-6xl mx-auto space-y-6 bg-white rounded-md shadow p-6  mt-4">
    <%= turbo_frame_tag "student_tab" do %> 
      <%= render "students/tabs/#{params[:tab] || 'report'}", student: @student %> 
    <% end %>
  </main>
</div>