<div>
    <h1> PUBLICAÇÃO </h1>

    <p> Título: <%= @publication.title %> </p>
    <p> Resumo: <%= @publication.abstract %> </p>
    <p> Data: <%= @publication.publication_date %> </p>
    <p> Link: <%= @publication.link %> </p>
    <p> Aluno: <%= @publication.student&.user&.full_name %> </p>
    <p> Orientador: <%= @publication.professor&.user&.full_name %> </p>

    <%= link_to "root", root_path %>
</div>