<%= turbo_frame_tag "tab_content" do %>
  <div class="max-w-xl mx-auto p-6 bg-white rounded-xl shadow-md space-y-4">

    <h2 class="text-2xl font-semibold text-gray-700 mb-4">
      Criar Novo Aluno
    </h2>

    <% if flash[:alert] %>
      <div class="p-3 mb-4 rounded bg-red-100 text-red-700">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_with model: @student, url: admin_students_path, local: true do |f| %>

      <div class="space-y-1">
        <%= label_tag "user[nusp]", "NUSP", class: "block font-medium text-gray-700" %>
        <%= number_field_tag "user[nusp]", nil,
              class: "w-full p-2 border border-gray-300 rounded-lg",
              required: true %>
      </div>

      <div class="space-y-1 mt-4">
        <%= f.label :program_level, "Nível do Programa", class: "block font-medium text-gray-700" %>
        <%= f.select :program_level,
              [["Mestrado"], ["Doutorado"]],
              {}, class: "w-full p-2 border border-gray-300 rounded-lg" %>
      </div>

      <div class="mt-6">
        <%= f.submit "Criar Aluno",
              class: "w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg cursor-pointer" %>
      </div>

    <% end %>

  </div>
<% end %>
