<div class="max-w-4xl mx-auto bg-white rounded-xl border border-gray-200 p-6 space-y-4 text-gray-900 mt-4">
      <div class="grid grid-cols-2 gap-y-3 mb-4">
        <div>
          <p class="text-sm text-gray-600">Tipo de Curso</p>
          <p class="font-semibold"><%= student.program_level %></p>
        </div>
        <div>
          <p class="text-sm text-gray-600">Data de Ingresso</p>
          <p class="font-semibold"><%= student.join_date&.strftime("%d de %B, %Y") %></p>
        </div>
        <div>
          <p class="text-sm text-gray-600">Semestre Atual</p>
          <p class="font-semibold"><%= student.semester %>
                  <% if student.program_level == "Mestrado" %>
                  / 4
                  <% else %>
                  / 8
                  <% end %> </p>
        </div>
        <div>
          <p class="text-sm text-gray-600">Último Relatório</p>
          <% if @last_report&.exists? %>
            <p class="font-semibold"><%= @last_report&.semester %>o Sem. <%= @last_report&.year%></p>
          <% else %>
            <p class="font-semibold"> Nenhum entregue ainda </p>
          <% end %>
        </div>
      </div>
    </div>
</div>