<div class="max-w-4xl mx-auto bg-white rounded-xl border border-gray-200 p-6 space-y-4 text-gray-900 mt-4">
      <div class="grid grid-cols-2 gap-y-3 mb-4">
        <div>
          <p class="text-sm text-gray-600">Tipo de Curso</p>
          <p class="font-semibold"><%= student.program_level %></p>
        </div>
        <div>
          <p class="text-sm text-gray-600">Data de Ingresso</p>
          <p class="font-semibold"><%= student.join_date %></p>
        </div>
        <div>
          <p class="text-sm text-gray-600">Semestre Atual</p>
          <p class="font-semibold"><%= student.semester %>
                  <% if student.program_level == "Mestrado" %>
                  / 4
                  <% else %>
                  / 8
                  <% end %> </p>
        </div>
        <div>
          <p class="text-sm text-gray-600">Último Relatório</p>
          <p class="font-semibold"><%= @last_report %></p>
        </div>
      </div>

      <div class="mb-3">
        <div class="flex justify-between text-sm font-medium mb-1">
          <span>Progresso da Pesquisa</span>
          <span><%= student.credits %>/<%= student.credits_needed %></span>
        </div>
        <div class="w-full h-2 bg-gray-200 rounded-full">
          <div class="h-2 bg-blue-700 rounded-full" style="width: <%= student.credits %>/<%= student.credits_needed %>;"></div>
        </div>
      </div>

      <div>
        <div class="flex justify-between text-sm font-medium mb-1">
          <span>Créditos Completados</span>
          <span><%= student.credits %>/<%= student.credits_needed %></span>
        </div>
        <div class="w-full h-2 bg-gray-200 rounded-full">
          <div class="h-2 bg-blue-700 rounded-full" style="width: <%= student.credits %>/<%= student.credits_needed %>;"></div>
        </div>
      </div>
    </div>
</div>