<h1> Homepage temporária :) </h1>

<body class="bg-gray-50 min-h-screen flex flex-col items-center justify-start">
  <% if user_signed_in? %>
    <div>
    <% if Student.where(user_id: current_user.id).exists? %>
      <p> Você está logado como >ESTUDANTE< </p>
      <%= link_to "Aba dos estudantes", student_home_path %>
    <% end %>

    <% if Professor.where(user_id: current_user.id).exists? %>
      <p> Você está logado como >PROFESSOR< </p>
      <%= link_to "Aba dos professores", professor_home_path %>
    <% end %>

    <% if Administrator.where(user_id: current_user.id).exists? %>
      <p> Você está logado como >ADMINISTRADOR< </p>
      <%= link_to "Aba dos admnistradores", adm_home_path %>
    <% end %>
    </div>



  ------------------------------------------------------------<br>
  SÓ CLIQUE SE NÃO TIVER CARGO AINDA <br>
    <%#= link_to "become student", new_student_path %> </p>
    <%#= link_to "become professor", new_professor_path %> </p>
    <%#= link_to "become administrator", new_administrator_path %> </p>
  <% else %>
    <div class="mt-20 text-center">
      <%= button_to "Sign in", new_user_session_path, class: "bg-blue-500 hover:bg-blue-600 text-white font-bold px-12 py-6 rounded-lg shadow-xl transition duration-200 text-3xl inline-block" %>
    </div>
  <% end %>
</body>
----------------------------------------
<div>
  <h1>users</h1>

  <div id="users">
    <% @users.each do |user| %>
      EMAIL: <%= user.email %> <br>
      NUSP: <%= user.nusp %> <br>
      NOME: <%= user.name %> <br>
      -------------------- 
      <br>
    <% end %>
  </div>
</div>