<div class="bg-white rounded-lg border border-blue-300 p-4 mb-6 text-blue-700 text-sm shadow-sm">
    <div class="flex items-center gap-2 font-semibold mb-1">
        <span>Painel Administrativo - PPgSI</span>
    </div>
    <p class="text-xs">Gerenciamento de alunos, docentes e sistema de cadastros</p>
</div>

<div class="grid grid-cols-1 sm:grid-cols-4 gap-4 mb-6 text-xs">
    <div class="border border-blue-300 rounded-lg p-4 flex items-center gap-3 text-blue-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" class="h-10 w-10 shrink-0 text-blue-600" fill="currentColor">
          <path d="M 28.0000 27.1257 C 31.1936 27.1257 33.9415 24.2737 33.9415 20.5602 C 33.9415 16.8912 31.1787 14.1729 28.0000 14.1729 C 24.8213 14.1729 22.0584 16.9506 22.0584 20.5898 C 22.0584 24.2737 24.8064 27.1257 28.0000 27.1257 Z M 10.9029 27.4673 C 13.6658 27.4673 16.0722 24.9718 16.0722 21.7485 C 16.0722 18.5548 13.6509 16.1930 10.9029 16.1930 C 8.1401 16.1930 5.7040 18.6143 5.7188 21.7782 C 5.7188 24.9718 8.1252 27.4673 10.9029 27.4673 Z M 45.0970 27.4673 C 47.8748 27.4673 50.2811 24.9718 50.2811 21.7782 C 50.2811 18.6143 47.8599 16.1930 45.0970 16.1930 C 42.3491 16.1930 39.9278 18.5548 39.9278 21.7485 C 39.9278 24.9718 42.3342 27.4673 45.0970 27.4673 Z M 2.6143 40.8806 L 13.9035 40.8806 C 12.3586 38.6376 14.2451 34.1220 17.4387 31.6562 C 15.7899 30.5570 13.6658 29.7400 10.8881 29.7400 C 4.1889 29.7400 0 34.6864 0 38.8010 C 0 40.1379 .7427 40.8806 2.6143 40.8806 Z M 53.3856 40.8806 C 55.2723 40.8806 56 40.1379 56 38.8010 C 56 34.6864 51.8113 29.7400 45.1119 29.7400 C 42.3342 29.7400 40.2102 30.5570 38.5613 31.6562 C 41.7549 34.1220 43.6414 38.6376 42.0966 40.8806 Z M 18.6568 40.8806 L 37.3283 40.8806 C 39.6604 40.8806 40.4925 40.2122 40.4925 38.9050 C 40.4925 35.0726 35.6944 29.7845 27.9851 29.7845 C 20.2907 29.7845 15.4928 35.0726 15.4928 38.9050 C 15.4928 40.2122 16.3247 40.8806 18.6568 40.8806 Z"></path>
        </svg>
        <div>
            <div class="font-bold text-lg"><%= @students.count %></div>
            <div>Alunos Ativos</div>
        </div>
    </div>
    <div class="border border-orange-300 rounded-lg p-4 flex items-center gap-3 text-orange-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" stroke-width="1.5">
          <path d="M15.8415441,6.74869934 C16.8885878,6.67700744 17.9129044,7.07687119 18.634459,7.83897305 C19.3109361,8.55346438 19.6925726,9.49368987 19.7090444,10.4720458 L19.7063314,10.6984117 L19.680556,11.329963 C19.625485,12.6793199 19.4084052,14.0165446 19.034416,15.3129364 L18.8868249,15.7971133 L18.5196685,16.9397515 C18.0675637,18.3467602 16.9447629,19.4364248 15.5248458,19.8461907 C14.9219814,20.0201679 14.1005014,19.9826975 13.0604059,19.7337796 L12.7713255,19.660642 C12.2657464,19.5260996 11.7337722,19.5261116 11.2281991,19.6606768 C10.0504876,19.9741407 9.13280596,20.0359787 8.47515416,19.8461907 C7.05523713,19.4364248 5.93243632,18.3467602 5.48033148,16.9397515 L5.11317509,15.7971133 C4.6483962,14.3506613 4.38139884,12.8479895 4.31944398,11.329963 L4.29366863,10.6984117 C4.25045868,9.63967565 4.63702715,8.60842525 5.36554102,7.83897305 C6.08709562,7.07687119 7.1114122,6.67700744 8.15845592,6.74869934 L8.77655188,6.79102085 C9.66526257,6.85187156 10.7399657,7.50407763 12.0006614,8.74763906 C13.1675406,7.56251015 14.1638735,6.91787825 14.98966,6.81374335 L15.2234481,6.79102085 L15.8415441,6.74869934 Z M12,8 C12,6.20842913 13.1464165,4.61786116 14.8460499,4.0513167 L15,4 M12,8 L12,5.45941171 C12,4.02936865 10.990621,2.7981242 9.58834841,2.51766968 L7,2 L7,2.54058829 C7,3.97063135 8.009379,5.2018758 9.41165159,5.48233032 L12,6" id="Combined-Shape"> </path>
        </svg>
        <div>
            <div class="font-bold text-lg"><%= @professors.count %></div>
            <div>Docentes</div>
        </div>
    </div>
    <div class="border border-blue-300 rounded-lg p-4 flex items-center gap-3 text-blue-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
            <path d="M2 10L12 4.5L22 10L17.9457 12.2298M2 10L6.05427 12.2298M2 10V16M6 17.5V12.5C6 12.4084 6.01848 12.3182 6.05427 12.2298M6 17.5C6 18.6046 8.68629 19.5 12 19.5C15.3137 19.5 18 18.6046 18 17.5M6 17.5C6 16.3954 8.68629 15.5 12 15.5C15.3137 15.5 18 16.3954 18 17.5M18 17.5V12.5C18 12.4084 17.9815 12.3182 17.9457 12.2298M17.9457 12.2298C17.9334 12.1993 17.9189 12.1691 17.9025 12.139C17.3927 11.2067 14.9439 10.5 12 10.5C9.05606 10.5 6.60733 11.2067 6.09749 12.139C6.08105 12.1691 6.06663 12.1993 6.05427 12.2298" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div>
            <div class="font-bold text-lg"><%= @students.where(program_level: "Mestrado").count %></div>
            <div>Mestrandos</div>
        </div>
    </div>
    <div class="border border-orange-300 rounded-lg p-4 flex items-center gap-3 text-orange-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path d="M4 8C4 5.17157 4 3.75736 4.87868 2.87868C5.75736 2 7.17157 2 10 2H14C16.8284 2 18.2426 2 19.1213 2.87868C20 3.75736 20 5.17157 20 8V16C20 18.8284 20 20.2426 19.1213 21.1213C18.2426 22 16.8284 22 14 22H10C7.17157 22 5.75736 22 4.87868 21.1213C4 20.2426 4 18.8284 4 16V8Z"></path> 
            <path d="M19.8978 16H7.89778C6.96781 16 6.50282 16 6.12132 16.1022C5.08604 16.3796 4.2774 17.1883 4 18.2235"></path> 
            <path d="M8 7H16" stroke-linecap="round"></path> 
            <path d="M8 10.5H13" stroke-linecap="round"></path> 
            <path d="M13 16V19.5309C13 19.8065 13 19.9443 12.9051 20C12.8103 20.0557 12.6806 19.9941 12.4211 19.8708L11.1789 19.2808C11.0911 19.2391 11.0472 19.2182 11 19.2182C10.9528 19.2182 10.9089 19.2391 10.8211 19.2808L9.57889 19.8708C9.31943 19.9941 9.18971 20.0557 9.09485 20C9 19.9443 9 19.8065 9 19.5309V16.45"  stroke-linecap="round"></path>
        </svg>
        <div>
            <div class="font-bold text-lg"><%= @students.where(program_level: "Doutorado").count %></div>
            <div>Doutorandos</div>
        </div>
    </div>
</div>

<nav class="mb-4 border border-gray-300 rounded-md bg-gray-100 flex gap-1 text-gray-700 text-sm overflow-auto select-none">
  <% tabs = { 'alumni' => { label: 'Alunos', icon: 'user-group' }, 'faculty' => { label: 'Docentes', icon: 'academic-cap' }, 'reports' => { label: 'Relatórios', icon: 'document-text' }, 'register' => { label: 'Cadastrar', icon: 'user-add' } } %>
    <% tabs.each do |key, tab| %>
      <%= link_to adm_home_path(tab: key), data: { turbo_frame: "tab_content" }, class: "mx-auto flex items-center gap-2 px-3 py-1 rounded-md whitespace-nowrap #{params[:tab] == key ? 'bg-white shadow text-purple-700 font-semibold' : 'hover:bg-white'}" do %>

        <% if key == 'overview' %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>
        <% elsif key == 'alunos' %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a4 4 0 00-4-4h-1M9 12h6m-6 0v6a4 4 0 110-8m0 0V7a4 4 0 10-3 0" />
          </svg>
        <% elsif key == 'docentes' %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479M12 14L5.84 10.578a12.083 12.083 0 00-.665 6.479M12 14v7" />
          </svg>
        <% elsif key == 'relatorios' %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17v-6h6v6H9z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 7v7m12 2H0" />
          </svg>

        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>
        <% end %>
        <span><%= tab[:label] %></span>
      <% end %>
    <% end %>
</nav>

<%= turbo_frame_tag "tab_content" do %>
  <%= render "administrators/menu/#{params[:tab] || 'overview'}" %>
<% end %>