  <tbody>
    <% info = report.report_infos.first %>

    <tr class="border-b hover:bg-blue-50">
      <td class="px-4 py-2 whitespace-nowrap">
        <%= report.semester %>º Sem. <%= report.year %>
      </td>

      <td class="px-4 py-2 whitespace-nowrap">
        <%= l(info.date_sent, format: :numeric, default: "-") %>
      </td>

      <td class="px-4 py-2 whitespace-nowrap">
        <% status_color =
            case info.status.to_s.downcase
            when 'archived' then 'bg-green-100 text-green-800'
            when 'reviewed' then 'bg-yellow-100 text-yellow-800'
            when 'sent' then 'bg-yellow-50 text-yellow-600'
            else 'bg-red-100 text-red-800'
            end
        %>
        <% status = 
            case info.status.to_s.downcase
            when 'archived' then 'Arquivado'
            when 'reviewed' then 'Esperando avaliação da CCP'
            when 'sent' then 'Esperando avaliação do Orientador'
            else 'Rascunho'
            end
        
        %>

        <span class="px-2 py-1 rounded text-xs font-semibold <%= status_color %>">
          <%= status %>
        </span>
      </td>

      <td class="px-4 py-2 whitespace-nowrap">
        <% approval_color =
            case info.review_administrator.to_s.downcase
            when 'adequado' then 'bg-green-100 text-green-800'
            when 'adequado com ressalvas' then 'bg-yellow-100 text-yellow-800'
            when 'pendente' then 'bg-gray-100 text-gray-700'
            else 'bg-red-100 text-red-800'
            end
        %>

        <span class="px-2 py-1 rounded text-xs font-semibold <%= approval_color %>">
          <%= info.review_administrator %>
        </span>
      </td>
    

      <td class="px-4 py-2 whitespace-nowrap">
        <%= l(info.review_date, format: :numeric, default: "-") %>
      </td>

      <td class="px-4 py-2 whitespace-nowrap">
        <%= info.reviewer&.user&.full_name || "Ainda não avaliado" %>
      </td>

      <td class="px-4 py-2 whitespace-nowrap">
        <% info = report.report_infos.find_by(student_id: @student.id) %>

        <%= link_to report_info_path(info),
                    data: { turbo: false },
                    class: "inline-flex items-center justify-center w-8 h-8 rounded-md border hover:bg-gray-100" do %>

          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
               viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path d="M2.46 12C3.73 7.94 7.52 5 12 5s8.27 2.94 9.54 7c-1.27 4.06-5.06 7-9.54 7S3.73 16.06 2.46 12z" />
          </svg>
        <% end %>
      </td>
    </tr>
  </tbody>
