<!-- aqui são as perguntas + respostas em si -->

<div>
    <p> Obrigatória? <%= report.report_field.required %> </p>
    <p> Tipo? <%= report.report_field.field_type %> </p>
    <p> Opções <%= report.report_field.options %> </p>
    <p> <%= report.report_field.question.capitalize %> : <%= report.answer %> </p>

</div>