<!-- aqui é a view que mostra a ReportInfo + renderiza as respostas em si -->
<div class="p-3 flex-column space-y-4">
    <div>
    <%= link_to "home", adm_home_path, class: "border border-red-500" %>
    </div>

    <div>
        <%= link_to "Dar parecer", "", class: "border border-orange-500" %>
    </div>

    <div class="outline spacing-3-y">
        <h1> Info </h1>
        <p> Aluno: <%= @report.student.user.name %> <%= @report.student.user.surname %> </p>
        <p> Data de Envio: <%= @report.date_sent %> </p>
        <!-- super otimizado confia -->
        <p> Orientador: <%= Professor.find_by(id: @report.reviewer_id).user.name %> <%= Professor.find_by(id: @report.reviewer_id).user.surname %> </p>
        <p> Status: <%= @report.status %> </p>
        <p> Responsável: <%= @report.owner %> </p>
        <p> Data da Avaliação: <%= @report.review_date&.strftime("%d de %B, %Y") %> </p>
    </div>

    <p class="text-red-500"> Questões obrigatórias não respondidas </p>
    <!-- [Bookmark]: adicionar envio de email de aviso aqui nesse botão -->
    <%= link_to "Notificar aluno para responder", "", class: "border border-purple-500"%>
    <div class="outline spacing-3-y">
        <% if @r_unanswereds.any? %>
            <%= render partial: "report_unanswered", collection: @r_unanswereds, as: :report %>
        <% end %>
    </div>

    <p class="text-green-500"> Questões respondidas </p>
    <div class="outline spacing-3-y">
        <% if @r_answers.any? %>
            <%= render partial: "report_qa", collection: @r_answers, as: :report %>
        <% else %>
            <p class="text-gray-500 italic">Nenhuma resposta ainda.</p>
        <% end %>
    </div>
</div>