<div>
    <%= link_to "home", adm_home_path, class: "border border-red-500" %>

    <h1 class="text-xl font-bold"> RELATÓRIO </h1>
    <p> Período: <%= @report.semester %>o Sem. <%= @report.year %> </p>
    <p> Prazos de entrega: </p>
    <li>
        <p> Estudante: <%= @report.due_date_student %> </p>
        <p> Docente: <%= @report.due_date_professor %> </p>
        <p> Coordenação: <%=  @report.due_date_administrator %> </p>   
    </li>

    <p> ----------------------------------------- </p>

    <h2 class="text-lg font-bold"> Alunos que responderam: </h2>
    <div class="outline spacing-y-3">
        <% if @report.report_infos.any? %>
            <%= render partial: "/administrators/detailed_info/reports_info", collection: @report.report_infos, as: :report %>
        <% else %>
            <p class="text-gray-500 italic">Nenhuma resposta ainda.</p>
        <% end %>
    </div>

</div>