<div class="p-3 flex-column spacing-y-3">
    <%= link_to "home", student_home_path, class: "border border-red-500" %>
    
    <h1 class="text-xl font-bold"> RELATÓRIO </h1>
    <p> Período: <%= @report&.semester %>o Sem. <%= @report&.year %> </p>
    <p> Sua data de entrega: <%= @report_info&.date_sent&.strftime("%d de %B, %Y") %> </p>

    <p> ----------------------------------------- </p>


    <p class="text-green-500"> Suas respostas </p>
    <div class="outline spacing-3-y">
        <% if @r_answers&.any? %>
            <%= render partial: "report_qa", collection: @r_answers, as: :report %>
        <% else %>
            <p class="text-gray-500 italic">Nenhuma resposta ainda.</p>
        <% end %>
    </div>

</div>